langchain==0.2.16
langchain-community==0.2.16
langchain-openai==0.1.23
langchain-groq==0.1.9
langchain-core==0.2.43
langchain-text-splitters==0.2.4
langchain-chroma==0.1.4
chromadb==0.5.3
rank-bm25==0.2.2
pypdf==4.3.1
python-docx==1.1.2
docx2txt==0.8
pydantic==2.8.2
python-dotenv==1.0.1
streamlit>=1.37.0
